@import url("output.css");

:root {
  --azul-principal: #034AA6;
  --azul-secundario: #0367A6;
  --verde-principal: #04BF8A;
  --verde-secundario: #7ED9BF;
}

.linea-hr {
  height: 5px;
  border-radius: 15px;
  width: 50%;
  margin: auto;
  background: rgb(10, 234, 187);
  background: linear-gradient(90deg, rgba(10, 234, 187, 1) 12%, rgba(10, 226, 189, 1) 15%, rgba(0, 8, 255, 1) 100%) !important;
}

.ancla:hover {
  text-decoration: underline !important;
  color: rgb(10, 234, 187) !important;
}

.icono-ancla {
  width: 25px;
}

.color-hover-links{
  color: #04BF8A;
  font-weight: 700 !important;
}
.color-hover-links:hover {
  color: #0367A6;
}

.img-inicial{
  border-radius:120px !important;
}